

  <div class="row">
    <div class="col-xs-3">
      <div class="col-sm-12" style="margin-top: -200px;">
            <img src="/banner.jpg" height="200px" width="200px" class="rounded-img">
      </div>
      <div class="col-sm-12">
        <h3 style="font-weight: bold;"><%= params[:id] %></h3>
        <p>
          Join the army of the Shadows! Punch your views & initiate a revolution. You know what? People are really awesome! <a href="https://www.youtube.com/watch?v=3E-bSvr3hN8" rel="noopener noreferrer" target="_blank">Terbium Data</a>
        </p>
      </div>
    </div>
    
     
    
    <div class="col-xs-6"> 
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Punch-Communal Nexus</h3>
  </div>
  </div>
   <%= render '/components/post_form' %>     <% for @p in @posts %>
    <div class="panel panel-primary post-panel">
  <div class="panel-body row">
    <div class="col-sm-1">
      <img src='/Punch.png' class="rounded-image" height="50px" width="50px"></img>
    </div>
    
    <div class="col-sm-11">
       <p class="post-title"><span class="post-owner"><%= User.find(@p.user_id).username %></span>---<span class="post-creation"><%= @p.created_at.to_formatted_s(:long) %></span></p>
    <p class="post-content"><%= @p.content %></p>
    </div>
    
    <div class="col-sm-12">
       <p class="post-content">
         <span class="glyphicon glyphicon-glass g-links" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-cloud g-links" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-tint g-links" aria-hidden="true"></span>
         <span class="glyphicon glyphicon-send g-links" aria-hidden="true"></span>
        <a href="">Exchange</a>
       </p>
    </div>
  
  </div>
   </div>
   <% end %>
       
<div class="panel panel-primary post-panel">
          <div class="panel-body row">
            <div class="col-sm-12">
            <center><img src="/Terbium.png" height="25px" width="25px"></img>
              <a href="#top"><p class="opacity: .7;">Back to top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a></center>
            </div>
          </div>
        </div>
    </div>
    
  
     
    <div class="col-xs-3"> 
    <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Whom to Follow?</h3>
  </div>
  <%= render '/components/follow_button', :user => User.find_by_username(params[:id]) %>
  <div class="panel-body">
    
             <h5 style="color: grey; font-size: 125%;"></h5>
    <% for @u in @toFollow do %>
               <p style="font-weight: bold; opacity: 3;" ><a href="/user/<%= @u.username %>"><%= @u.username %></a></p>
             <% end %>
          </div>
</div>
  
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Drift</h3>
  </div>
          <div class="panel-body">
             <h5 style="color: grey; font-size: 125%;"></h5>
              <a href="http://edition.cnn.com/" rel="noopener noreferrer" target="_blank">Terbium Drift: 1</a><br>
                <span style="color: grey;">News</span><br><br>
                 <a href="http://www.espn.in/" rel="noopener noreferrer" target="_blank">Terbium Drift: 2</a><br>
                <span style="color: grey;">Sports</span><br><br>
                   <a href="http://www.comingsoon.net/" rel="noopener noreferrer" target="_blank">Terbium Drift: 3</a><br>
                <span style="color: grey;">Hollywood Movies</span><br><br>
                 <a href="http://www.elle.com/fashion/" rel="noopener noreferrer" target="_blank">Terbium Drift: 4</a><br>
                <span style="color: grey;">Women's Fashion</span><br><br>
                 <a href=" http://www.bollywoodhungama.com/" rel="noopener noreferrer" target="_blank">Terbium Drift: 5</a><br>
                <span style="color: grey;">Bollywood Movies</span><br><br>
                  <a href="https://www.trunkclub.com/womens/" rel="noopener noreferrer" target="_blank">Terbium Drift: 6</a><br>
                <span style="color: grey;">Confidence Meets Convenience</span><br><br>
                    <a href="http://health.usnews.com/health-care/" rel="noopener noreferrer" target="_blank">Terbium Drift: 7</a><br>
                <span style="color: grey;">Healthcare</span><br><br>
                
          </div>
        </div>
        
    </div>
</div>
 